
body{
    background: peachpuff;
}

::selection{
    background: lavender;
    color: black;
}
.start-btn, 
.info-box,
.quiz-box,
.result-box{
    position: absolute;
    left:50%;
    transform: translate(-50%, -50%);
}